.Navbar {
  display: flex;
  background-color: rgba(0, 0, 0, 0.541);
  backdrop-filter: blur(10px);
  color: white;
  height: 80px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 70px;
  & .Admin {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 25%;
    cursor: pointer;
    & span {
      visibility: hidden;
      width: 140px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 6px;
      border-radius: 6px;
      position: absolute;
      z-index: 1;
      left: 50%;
      top:3.5rem;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
      font-size: 20px;
      font-weight: 600;
    }
    & span:hover {
      visibility: visible;
    }
  }
  
}
.Admin:hover span {
    visibility: visible;
    opacity: 1;
  }
.MainForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 85vh;
  & section {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    width: 70%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 2px solid rgb(98, 0, 255);
    & form {
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      grid-template-rows: repeat(4, 1fr);
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 80%;
      gap: 10px;
      padding: 10px;
      & .inputs {
        display: flex;
        flex-direction: column;
        gap: 5px;

        & input {
          padding: 5px 10px 5px 10px;
          border-radius: 10px;
          border: 1px solid rgb(98, 0, 255);
          outline: none;
          font-size: 1rem;
        }
      }
      & button {
        font-size: 1.2rem;
        border: none;
        background-color: rgb(98, 0, 255);
        color: white;
        height: 2rem;
        border-radius: 12px;
        grid-column: span 2;
        position: relative;
        top: 50%;
      }
      & button:hover {
        cursor: pointer;
        background-color: rgba(61, 1, 95, 0.966);
      }
    }
  }
}
label {
  font-size: 17px;
}

@media screen and (max-width: 660px) {
  .MainForm {
    & section {
      width: 100%;
    }
  }
}
@media screen and (max-width: 470px) {
  .MainForm {
    & section {
      height: auto;
      & form {
        display: flex;
        flex-direction: column;
        width: 100%;
        & button {
          height: 3rem;
          width: 90%;
        }
        & .Select {
          width: 80%;
        }
      }
    }
  }
}
